+++
title = "uncontained.io"
linkTitle = "uncontained.io"

+++

{{< blocks/cover title="uncontained.io:  on containers, clouds, & transformational journeys!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
<!-- download button not needed for uncontained.io website
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/redhat-cop/uncontained.io">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
-->
	<p class="lead mt-5">We are a community of experts passionate about open source emerging technologies at play in the digital transformation journey. Our aim is to provide valuable community resources to IT Organizations attempting to adopt open source and cloud technologies with an intent towards DevOps or lean methodologies.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
uncontained.io provides information on all things containers, clouds, and digital transformation journeys. You may even find a few tips and tricks along your way.

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="New guides published!" %}}
Check out the latest uncontained.io's all new look and feel.

Please follow this space for new updates and guides coming soon!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/redhat-cop/uncontained.io" %}}
We do a [Pull Request](https://github.com/redhat-cop/uncontained.io/pulls) contributions workflow on **GitHub**. New Contributors and Reviewers are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/RedHatCop" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the uncontained.io app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/redhat-cop/uncontained.io" %}}
We do a [Pull Request](https://github.com/redhat-cop/uncontained.io/pulls) contributions workflow on **GitHub**. New Contributors and Reviewers are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/RedHatCoP" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->